        body    { text-align: center; width: 1020px;
                  position: relative; margin-left: auto; margin-right:auto; }
        h1      { font-family: 'Dela Gothic One', sans-serif; }
        em      { font-size: 50px; color: skyblue; }
        h3      { font-family: 'Roboto Condensed', arial; margin-left: 100px; }
        p       { font-family: 'Source Sans Pro', arial; }
        p.nav   { font-family: 'Roboto Condensed', arial; font-size: 20px; color: navy; }
        a:hover { background-color: navy; color: white; }
        .div1   { width: 60px; height: 30px; border: 1; background-color: green;
                  text-align: center; font-family: 'Roboto Condensed', arial; padding: .5em; }
        .div2   { width: 60px; height: 30px; border: 1; background-color: red;
                  text-align: center; font-family: 'Roboto Condensed', arial; padding: .5em; }

        section  { font-family: 'Roboto Condensed', arial;
                   width: 1000px;
                   column-count: 3; column-width = 330px; column-gap: 3em;
                   column-rule-style: outset ; column-rule-width: thin; colum-span: 1000px}

        div      { display: inline-block;
                   border: 1px solid black;
                   background: white;
                   width: 400px; height: 400px;
                   padding: 50px; margin 10px;
                   align: center
                  }
        img      { position: relative; top: 100px;
                     transition: transform 2s linear; }
        img:hover {
                    transform: scale(2,2)}


        .move    { position: relative;
                   animation: moving;
                   animation-timing-function: linear;
                   animation-duration: 2s;}

        @keyframes moving{
                   0% {left: 510px;}
                   100% {left: 0px;}
                    }